<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterControllerPerson</servlet-name>
        <servlet-class>com.mvc.controller.RegisterControllerPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mvc.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingSwab</servlet-name>
        <servlet-class>CommandPattern.BookingSwab</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>UpdateTampone</servlet-name>
        <servlet-class>StatePattern.UpdateTampone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reports</servlet-name>
        <servlet-class>StrategyPattern.Reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControllerMed</servlet-name>
        <servlet-class>com.mvc.controller.RegisterControllerMed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterControllerPerson</servlet-name>
        <url-pattern>/RegisterControllerPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingSwab</servlet-name>
        <url-pattern>/BookingSwab</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>UpdateTampone</servlet-name>
        <url-pattern>/UpdateTampone</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>Reports</servlet-name>
        <url-pattern>/Reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControllerMed</servlet-name>
        <url-pattern>/RegisterControllerMed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
